/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
 */
/* 
Created on : Dec 3, 2015, 10:37:50 PM
Author     : Mika
 */

body {
    background-color: white;
}

h1 {
    text-align:center;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.sig_buttons
{
    text-align:center;
    margin:15px;
}

.big_button
{
    text-align:center;
    font-weight: bold;
    color:white;
    width:49%;
    min-height: 100px;
    background-color:white;
    border-radius:3px;
}

.red
{
    background-color: red;
}

.green
{
    background-color: green;
}
